# Rename this file name to .env for it to work

# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

######
# Default
######
LOCALE = zh-CN
PORT = 3000

## Database
# DATABASE_URL = mysql://USER:PASSWORD@HOST:PORT/DB_NAME
DATABASE_URL = mysql://root:123456@localhost:3306/mydb
DB_NAME = mydb

# SMS
API_TOKEN = cf9ba5d85aee9d4ba3689a678bdcd61d
SMS_SUFFIX = '【冰山科技】'

######
# Production
######
NODE_ENV = production

######
# Testing
######
NODE_ENV = testing

######
# Development
######
NODE_ENV = development
